body {
  margin: 0px;
  padding: 0;
  text-align: center;
  font-family: Lato, sans-serif;
}

h1 {
  margin-top: 0px;
  font-size: 64px;
  font-family: "Sacramento", cursive;
}

a {
  text-decoration: none;
  color: white;
  font-family: Lato;
  margin: 0 10px;
}

.top-container {
  background-color: #072540;
  padding-top: 100px;
  color: white;
  font-size: 22px;
  overflow-x: hidden;
}

.topnav {
  background-color: #072540;
  position: fixed;
  top: 1;
  text-align: left;
  padding: 12px 5px;
  width: 100%;
}

.topnav :hover {
  background-color: #ffd584;
  color: black;
  border-radius: 10px;
  padding: 2px;
}

.display-image {
  height: auto;
  max-width: 100%;
  border: 0;
}

.about-container {
  padding: 25px;
  background-color: #ffd584;
  font-size: 22px;
}

.social-media :hover {
  transform: scale(1.05);
}

.skills-container {
  padding: 25px;
  background-color: #072540;
  color: white;
  font-size: 22px;
}

.skills {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
  row-gap: 10px;
}

.blog-container {
  background-color: #ffd584;
  padding: 25px;
  font-size: 22px;
}

.blog-link {
  grid-area: left;
}

.blog-name {
  grid-area: right;
}

.blog-1 {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 300px 400px;
  justify-content: center;
  margin: 15px;
}

@media (max-width: 700px) {
  .blog-1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "left"
      "right";
  }
}

@media (max-width: 450px) {
  .skills-container {
    font-size: 12px;
  }
  .topnav {
    font-size: 8px;
  }
}

img {
  height: auto;
  max-width: 100%;
  padding: 10px;
}

.blog-images {
  width: 150px;
  border-radius: 15px;
}

.contact {
  padding: 25px;
  background-color: #072540;
  color: white;
  font-size: 22px;
  margin-bottom: 0;
}

.btn {
  background-color: #ffd584;
  padding: 10px;
  border-radius: 10px;
  color: black;
}

.footer-container {
  background-color: #072540;
  color: white;
  padding: 10px;
}

.footer {
  margin: 0;
}
